# 1 Intro

ใช้ NumPy กับ Pandas กับ Data 2D ในโปรเจคนี้ เป็นข้อมูลการเดินทางบนรถไฟฟ้ากับสภาพอากาศ (อยู่ในตารางเดียวกัน)

In [235]:
import pandas as pd

subway_weather = pd.read_csv('../data/chapter3/nyc_subway_weather.csv')

# 2 Q : Subway Data
ดูข้อมูลแล้วตั้งคำถามที่คิดว่าจะสามารถรู้ได้จากข้อมูลชุดนี้

In [236]:
print(subway_weather.columns)

Index(['UNIT', 'DATEn', 'TIMEn', 'ENTRIESn', 'EXITSn', 'ENTRIESn_hourly',
       'EXITSn_hourly', 'datetime', 'hour', 'day_week', 'weekday', 'station',
       'latitude', 'longitude', 'conds', 'fog', 'precipi', 'pressurei', 'rain',
       'tempi', 'wspdi', 'meanprecipi', 'meanpressurei', 'meantempi',
       'meanwspdi', 'weather_lat', 'weather_lon'],
      dtype='object')

In [237]:
pd.set_option('display.max_columns', None) #ไม่ให้มันย่อ column เป็น ...
pd.DataFrame(subway_weather[:5])

,UNIT,DATEn,TIMEn,ENTRIESn,EXITSn,ENTRIESn_hourly,EXITSn_hourly,datetime,hour,day_week,weekday,station,latitude,longitude,conds,fog,precipi,pressurei,rain,tempi,wspdi,meanprecipi,meanpressurei,meantempi,meanwspdi,weather_lat,weather_lon
0,R003,05-01-11,00:00:00,4388333,2911002,0.0,0.0,2011-05-01 00:00:00,0,6,0,CYPRESS HILLS,40.689945,-73.872564,Clear,0,0.0,30.22,0,55.9,3.5,0.0,30.258,55.98,7.86,40.700348,-73.887177
1,R003,05-01-11,04:00:00,4388333,2911002,0.0,0.0,2011-05-01 04:00:00,4,6,0,CYPRESS HILLS,40.689945,-73.872564,Partly Cloudy,0,0.0,30.25,0,52.0,3.5,0.0,30.258,55.98,7.86,40.700348,-73.887177
2,R003,05-01-11,12:00:00,4388333,2911002,0.0,0.0,2011-05-01 12:00:00,12,6,0,CYPRESS HILLS,40.689945,-73.872564,Mostly Cloudy,0,0.0,30.28,0,62.1,6.9,0.0,30.258,55.98,7.86,40.700348,-73.887177
3,R003,05-01-11,16:00:00,4388333,2911002,0.0,0.0,2011-05-01 16:00:00,16,6,0,CYPRESS HILLS,40.689945,-73.872564,Mostly Cloudy,0,0.0,30.26,0,57.9,15.0,0.0,30.258,55.98,7.86,40.700348,-73.887177
4,R003,05-01-11,20:00:00,4388333,2911002,0.0,0.0,2011-05-01 20:00:00,20,6,0,CYPRESS HILLS,40.689945,-73.872564,Mostly Cloudy,0,0.0,30.28,0,52.0,10.4,0.0,30.258,55.98,7.86,40.700348,-73.887177

จากข้อมูลแสดงถึงเวลา สถานที่ การเข้า-ออกจากสถานนีรถไฟฟ้า ร่วมกับ สภาพอากาศในขณะนั้น จึงมีคำถามในใจที่อยากรู้ประมาณว่า

1. วันไหนในรอบสัปดาห์ที่คนชอบและไม่ชอบเดินทาง
2. สภาพอากาศแบบไหนที่คนชอบเดินทาง และไม่ชอบเดินทาง
3. location ไหนที่คนพลุกพล่าน
4. คนแต่ละ location ชอบเดินทางที่สภาพอากาศแบบไหน
5. สายรถไฟฟ้าไหนที่คนชอบตอนร้อน หนาว ฝน ฯ

คำถามที่เจอใน board

1. จำนวนผู้โดยสารเปลี่ยนแปลงยังไงในวันหนึ่งๆ
2. มีการเปลี่ยนแปลงจำนวนการเดินทางเป็นอย่างไรในเดือน
3. ที่ไหนคนเข้าเยอะ/ออกเยอะ
4. ที่ไหนที่จำนวนต่างระหว่างเข้า/ออกเยอะ

### เฉลย
คิดก่อนว่าตัวแปรไรมีผลต่อจำนวนการเดินทาง(ridership)บ้าง 
- station ไหนคนเยอะ
- ridership pattern เป็นอย่างไรกับเวลา
- สภาพอากาศส่งผลต่อ ridership ยังไง

มี panttern อะไรที่เราจะหาได้จากสภาพอากาศไหม
- อุณหภูมิ มี pattern เป็นอย่างไรบ้างในแต่ละเดือน
- สภาพอากาศเปลี่ยนแปลงอย่างไรตามเมือง

# 3 Q : Two-Dimensional NumPy Arrays

### 2D data
- Python : list of lists
- NumPy : 2D array <- เริ่มจากตรงนี้ simplier
- Pandas : DataFrame
 
$$ a =
\begin{bmatrix}
    1 & 2 & 3 & 4 \\
    5 & 6 & 7 & 8 \\
    9 & 10 & 11 & 12 \\
    13 & 14 & 15 & 16 \\
\end{bmatrix}
$$

2D arrays, as opposed to array of arrays:
 - More memory efficient
 - Accessing elements is a bit different ถ้าจะเอาเลข 8 ต้องพิมพ์ $a[1,3]$ แทนที่จะพิมพ์ $a[1][3]$ แบบใน array of arrays
 - $mean()$, $std()$, etc. operate on entire array คิดจากทุกตัวใน array แต่ของ python จะได้แค่ทีละ row (array)
 
### แก้ฟังก์ชั่น mean_riders_for_max_station

In [238]:
import numpy as np

# Subway ridership for 5 stations on 10 different days
ridership = np.array([
    [   0,    0,    2,    5,    0],
    [1478, 3877, 3674, 2328, 2539],
    [1613, 4088, 3991, 6461, 2691],
    [1560, 3392, 3826, 4787, 2613],
    [1608, 4802, 3932, 4477, 2705],
    [1576, 3933, 3909, 4979, 2685],
    [  95,  229,  255,  496,  201],
    [   2,    0,    1,   27,    0],
    [1438, 3785, 3589, 4174, 2215],
    [1342, 4043, 4009, 4665, 3033]
])

# Change False to True for each block of code to see what it does

# Accessing elements
if False:
    print(ridership[1, 3])
    print(ridership[1:3, 3:5])
    print(ridership[1, :])
    
# Vectorized operations on rows or columns
if False:
    print(ridership[0, :] + ridership[1, :])
    print(ridership[:, 0] + ridership[:, 1])
    
# Vectorized operations on entire arrays
if False:
    a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
    b = np.array([[1, 1, 1], [2, 2, 2], [3, 3, 3]])
    print(a + b)

def mean_riders_for_max_station(ridership):
    '''
    Fill in this function to find the station with the maximum riders on the
    first day, then return the mean riders per day for that station. Also
    return the mean ridership overall for comparsion.
    
    Hint: NumPy's argmax() function might be useful:
    http://docs.scipy.org/doc/numpy/reference/generated/numpy.argmax.html
    '''
    # row เป็น day, column เป็น station
    overall_mean = ridership.mean() 
    max_column   = ridership[0,:].argmax()
    mean_for_max = ridership[:,max_column].mean()
    return (overall_mean, mean_for_max)

In [239]:
mean_riders_for_max_station(ridership)

(2342.5999999999999, 3239.9000000000001)

# 4 Q : NumPy Axis

$$ a =
\begin{bmatrix}
    1 & 2 & 3 & 4 \\
    5 & 6 & 7 & 8 \\
    9 & 10 & 11 & 12 \\
    13 & 14 & 15 & 16 \\
\end{bmatrix}
$$

เมื่อมี array 2D บางครั้งเราก็ต้องการดำเนิน operation ในแนว column หรือบางครั้งกับในแนว row 

built-in function ใน NumPy เราสามารถให้มันดำเนินการกับแนว row หรือ column ได้ จาก .mean(axis=0) .mean(axis=1)

โดย axis=0 คือ ดำเนินการในแนว column, axis=1 ดำเนินการในแนว row

### Exercise

In [240]:
import numpy as np

# Change False to True for this block of code to see what it does

# NumPy axis argument
if False:
    a = np.array([
        [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]
    ])
    
    print(a.sum())
    print(a.sum(axis=0))
    print(a.sum(axis=1))
    
# Subway ridership for 5 stations on 10 different days
ridership = np.array([
    [   0,    0,    2,    5,    0],
    [1478, 3877, 3674, 2328, 2539],
    [1613, 4088, 3991, 6461, 2691],
    [1560, 3392, 3826, 4787, 2613],
    [1608, 4802, 3932, 4477, 2705],
    [1576, 3933, 3909, 4979, 2685],
    [  95,  229,  255,  496,  201],
    [   2,    0,    1,   27,    0],
    [1438, 3785, 3589, 4174, 2215],
    [1342, 4043, 4009, 4665, 3033]
])

def min_and_max_riders_per_day(ridership):
    '''
    Fill in this function. First, for each subway station, calculate the
    mean ridership per day. Then, out of all the subway stations, return the
    maximum and minimum of these values. That is, find the maximum
    mean-ridership-per-day and the minimum mean-ridership-per-day for any
    subway station.
    '''
#     mean_ridership_per_day = ridership.mean(axis=1)
    max_daily_ridership = ridership.mean(axis=0).max()
    min_daily_ridership = ridership.mean(axis=0).min()
    
    return (max_daily_ridership, min_daily_ridership)

In [241]:
min_and_max_riders_per_day(ridership)

(3239.9000000000001, 1071.2)

# 5 NumPy And Pandas Data Types

In [242]:
import numpy as np

In [243]:
np.array([1,2,3,4,5]).dtype

dtype('int64')

NumPy array นั้นบังคับว่าข้อมูลทั้งหมดต้องเป็น type เดียวกัน ซึ่งข้อมูลในไฟล์ csv ส่วนใหญ่ไม่เป็นงั้น มักมีบาง column ที่เป็น string ดังนั้น np จะมมองทั้งหมดเป็น str ทำให้หา mean ของ str ไม่ได้ แต่ pandas แก้ปัญหาได้ เพราะมันคิดว่าแต่ละ column มี type ต่างกัน

In [244]:
import pandas as pd

enrollments_df = pd.DataFrame({
    'account_key': [448, 448, 448, 448, 448],
    'status': ['canceled', 'canceled', 'canceled', 'canceled', 'current'],
    'join_date': ['2014-11-10', '2014-11-05', '2015-01-27', '2014-11-10', '2014-11-03'],
    'days_to_cancel': [65,5,0,0,np.nan],
    'is_udacity': [True,True,True,True,True]
})

In [245]:
enrollments_df

   account_key  days_to_cancel  is_udacity   join_date    status
0          448            65.0        True  2014-11-10  canceled
1          448             5.0        True  2014-11-05  canceled
2          448             0.0        True  2015-01-27  canceled
3          448             0.0        True  2014-11-10  canceled
4          448             NaN        True  2014-11-03   current

In [246]:
enrollments_df.mean()

account_key       448.0
days_to_cancel     17.5
is_udacity          1.0
dtype: float64

จะเห็นว่ามันจะหา mean ให้ทุก column ที่มี type เป็น float, int

# 6 Q : Accessing Elements Of A DataFrame

เราสามารถแปลง pandas DataFrame ให้อยู่ในรูป NumPy array ได้โดย $ datapandas.values $ (คีย์หายหมด)

In [247]:
import pandas as pd

# Subway ridership for 5 stations on 10 different days
ridership_df = pd.DataFrame(
    data=[[   0,    0,    2,    5,    0],
          [1478, 3877, 3674, 2328, 2539],
          [1613, 4088, 3991, 6461, 2691],
          [1560, 3392, 3826, 4787, 2613],
          [1608, 4802, 3932, 4477, 2705],
          [1576, 3933, 3909, 4979, 2685],
          [  95,  229,  255,  496,  201],
          [   2,    0,    1,   27,    0],
          [1438, 3785, 3589, 4174, 2215],
          [1342, 4043, 4009, 4665, 3033]],
    index=['05-01-11', '05-02-11', '05-03-11', '05-04-11', '05-05-11',
           '05-06-11', '05-07-11', '05-08-11', '05-09-11', '05-10-11'],
    columns=['R003', 'R004', 'R005', 'R006', 'R007']
)

In [248]:
# DataFrame creation
# You can create a DataFrame out of a dictionary mapping column names to values
df_1 = pd.DataFrame({'A': [0, 1, 2], 'B': [3, 4, 5]})
print(df_1)

# You can also use a list of lists or a 2D NumPy array
df_2 = pd.DataFrame([[0, 1, 2], [3, 4, 5]], columns=['A', 'B', 'C'])
print(df_2)

   A  B
0  0  3
1  1  4
2  2  5
   A  B  C
0  0  1  2
1  3  4  5

In [249]:
# Accessing elements
print(ridership_df.iloc[0])
print(ridership_df.loc['05-05-11'])
print(ridership_df['R003'])
print(ridership_df.iloc[1, 3])

R003    0
R004    0
R005    2
R006    5
R007    0
Name: 05-01-11, dtype: int64
R003    1608
R004    4802
R005    3932
R006    4477
R007    2705
Name: 05-05-11, dtype: int64
05-01-11       0
05-02-11    1478
05-03-11    1613
05-04-11    1560
05-05-11    1608
05-06-11    1576
05-07-11      95
05-08-11       2
05-09-11    1438
05-10-11    1342
Name: R003, dtype: int64
2328

In [250]:
# Accessing multiple rows
print(ridership_df.iloc[1:4])

          R003  R004  R005  R006  R007
05-02-11  1478  3877  3674  2328  2539
05-03-11  1613  4088  3991  6461  2691
05-04-11  1560  3392  3826  4787  2613

In [251]:
# Accessing multiple columns
print(ridership_df[['R003', 'R005']])

          R003  R005
05-01-11     0     2
05-02-11  1478  3674
05-03-11  1613  3991
05-04-11  1560  3826
05-05-11  1608  3932
05-06-11  1576  3909
05-07-11    95   255
05-08-11     2     1
05-09-11  1438  3589
05-10-11  1342  4009

In [252]:
# Pandas axis
df = pd.DataFrame({'A': [0, 1, 2], 'B': [3, 4, 5]})
print(df.sum())
print(df.sum(axis=1))
print(df.values.sum())

A     3
B    12
dtype: int64
0    3
1    5
2    7
dtype: int64
15

### Exercise

In [253]:
def mean_riders_for_max_station(ridership):
    '''
    Fill in this function to find the station with the maximum riders on the
    first day, then return the mean riders per day for that station. Also
    return the mean ridership overall for comparsion.
    
    This is the same as a previous exercise, but this time the
    input is a Pandas DataFrame rather than a 2D NumPy array.
    '''
    overall_mean = ridership.values.mean()
    max_column = ridership.values[0].argmax()
    mean_for_max = ridership.values[:,max_column].mean()
    
    return (overall_mean, mean_for_max)

In [254]:
mean_riders_for_max_station(ridership_df)

(2342.5999999999999, 3239.9000000000001)

จะเห็นว่าเหมือนที่ทำกับ numpy เลย ต่างแค่ต้องมี .values ก่อน หรืออีกแบบคือ

In [255]:
def mean_riders_for_max_station2(ridership):

    overall_mean = ridership.values.mean()
    max_column = ridership.iloc[0].argmax()
    mean_for_max = ridership[max_column].mean()
    
    return (overall_mean, mean_for_max)

In [256]:
mean_riders_for_max_station2(ridership_df)

(2342.5999999999999, 3239.9)

# 7 Loading Data Into A DataFrame

In [257]:
import pandas as pd

ny_subway_weather = pd.read_csv('../data/chapter3/nyc_subway_weather.csv')

In [259]:
ny_subway_weather.head() #print 5 first row

,UNIT,DATEn,TIMEn,ENTRIESn,EXITSn,ENTRIESn_hourly,EXITSn_hourly,datetime,hour,day_week,weekday,station,latitude,longitude,conds,fog,precipi,pressurei,rain,tempi,wspdi,meanprecipi,meanpressurei,meantempi,meanwspdi,weather_lat,weather_lon
0,R003,05-01-11,00:00:00,4388333,2911002,0.0,0.0,2011-05-01 00:00:00,0,6,0,CYPRESS HILLS,40.689945,-73.872564,Clear,0,0.0,30.22,0,55.9,3.5,0.0,30.258,55.98,7.86,40.700348,-73.887177
1,R003,05-01-11,04:00:00,4388333,2911002,0.0,0.0,2011-05-01 04:00:00,4,6,0,CYPRESS HILLS,40.689945,-73.872564,Partly Cloudy,0,0.0,30.25,0,52.0,3.5,0.0,30.258,55.98,7.86,40.700348,-73.887177
2,R003,05-01-11,12:00:00,4388333,2911002,0.0,0.0,2011-05-01 12:00:00,12,6,0,CYPRESS HILLS,40.689945,-73.872564,Mostly Cloudy,0,0.0,30.28,0,62.1,6.9,0.0,30.258,55.98,7.86,40.700348,-73.887177
3,R003,05-01-11,16:00:00,4388333,2911002,0.0,0.0,2011-05-01 16:00:00,16,6,0,CYPRESS HILLS,40.689945,-73.872564,Mostly Cloudy,0,0.0,30.26,0,57.9,15.0,0.0,30.258,55.98,7.86,40.700348,-73.887177
4,R003,05-01-11,20:00:00,4388333,2911002,0.0,0.0,2011-05-01 20:00:00,20,6,0,CYPRESS HILLS,40.689945,-73.872564,Mostly Cloudy,0,0.0,30.28,0,52.0,10.4,0.0,30.258,55.98,7.86,40.700348,-73.887177

In [260]:
ny_subway_weather.describe()

,ENTRIESn,EXITSn,ENTRIESn_hourly,EXITSn_hourly,hour,day_week,weekday,latitude,longitude,fog,precipi,pressurei,rain,tempi,wspdi,meanprecipi,meanpressurei,meantempi,meanwspdi,weather_lat,weather_lon
count,4.264900e+04,4.264900e+04,42649.000000,42649.000000,42649.000000,42649.000000,42649.000000,42649.000000,42649.000000,42649.000000,42649.000000,42649.000000,42649.000000,42649.000000,42649.000000,42649.000000,42649.000000,42649.000000,42649.000000,42649.000000,42649.000000
mean,2.812486e+07,1.986993e+07,1886.589955,1361.487866,10.046754,2.905719,0.714436,40.724647,-73.940364,0.009824,0.004618,29.971096,0.224741,63.103780,6.927872,0.004618,29.971096,63.103780,6.927872,40.728555,-73.938693
std,3.043607e+07,2.028986e+07,2952.385585,2183.845409,6.938928,2.079231,0.451688,0.071650,0.059713,0.098631,0.025832,0.137942,0.417417,8.455597,4.510178,0.016344,0.131158,6.939011,3.179832,0.065420,0.059582
min,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,40.576152,-74.073622,0.000000,0.000000,29.550000,0.000000,46.900000,0.000000,0.000000,29.590000,49.400000,0.000000,40.600204,-74.014870
25%,1.039762e+07,7.613712e+06,274.000000,237.000000,4.000000,1.000000,0.000000,40.677107,-73.987342,0.000000,0.000000,29.890000,0.000000,57.000000,4.600000,0.000000,29.913333,58.283333,4.816667,40.688591,-73.985130
50%,1.818389e+07,1.331609e+07,905.000000,664.000000,12.000000,3.000000,1.000000,40.717241,-73.953459,0.000000,0.000000,29.960000,0.000000,61.000000,6.900000,0.000000,29.958000,60.950000,6.166667,40.720570,-73.949150
75%,3.263049e+07,2.393771e+07,2255.000000,1537.000000,16.000000,5.000000,1.000000,40.759123,-73.907733,0.000000,0.000000,30.060000,0.000000,69.100000,9.200000,0.000000,30.060000,67.466667,8.850000,40.755226,-73.912033
max,2.357746e+08,1.493782e+08,32814.000000,34828.000000,20.000000,6.000000,1.000000,40.889185,-73.755383,1.000000,0.300000,30.320000,1.000000,86.000000,23.000000,0.157500,30.293333,79.800000,17.083333,40.862064,-73.694176

# 8 Q : Calculating Correlation (Pearson's r)

$
\begin{bmatrix}
    x_{1} & y_{1} \\
    x_{2} & y_{2} \\
    x_{3} & y_{3} \\
    \vdots & \vdots \\
\end{bmatrix}
$

จากค่า value นี้ เราสงสัยถึงความสัมพันธ์ระหว่างว่า ค่า $x_{i}$ กับ $y_{i}$ ว่าสูงหรือต่ำกว่าค่า $mean$ ทั้งคู่ หรือมีตัวใดสูงตัวใดต่ำ 

เราสามารถหาความสัมพันธ์ของชุดข้อมูลได้โดยใช้ Pearson's r : 
1. Standardize each variable (ทำไรวะ?)
2. Multiply each pair of valves, and take the average

> **r = average of (x in std units) x (y in std units)**